.button {
	@include button-reset;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 19px 0;
	background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
	border-radius: 10px;
	font-family: $font--primary;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ffffff;
	/* width: 100%; */
	cursor: pointer;
}

.button-arrow {
	@include button-reset;
	
  width: 36px;
  height: 36px;
	color: #EE7A28;
	background-color: #ffffff;
	fill: #ffffff;
	border: none;
	border-radius: 50%;
	position: absolute;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15); 
	top: 50%;
	margin-left: 16px;
	cursor: pointer;

	display: grid;
	place-items: center;

	&--next {
		transform: rotate(180deg);
		right: 16px;
	}

	&:hover	{
		background-color: #EE7A28;
		fill: #EE7A28;
		color: #ffffff;
		transition: fill 0.2s ease-in;
		transition: color 0.2s ease-in;
		stroke: rgb(0, 42, 255);
	}
}