.button {
	@include button-reset;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 19px 0;
	background: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
	border-radius: 10px;
	font-family: $font--primary;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ffffff;
	width: 100%;
}

.button-arrow {
	@include button-reset;
	
  width: 36px;
  height: 36px;
	background-color: #ffffff;
	border: none;
	border-radius: 50%;
	position: absolute;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15); 
	top: 50%;
	margin-left: 16px;

	display: grid;
	place-items: center;

	&--next {
		transform: rotate(180deg);
		right: 16px;
	}
}