.content__video {
	
}

.content__video video {
  display: block;
  width: 100%;
  object-fit: cover;
}

.content__text {
	padding: 182px 27px 184px 28px;
  position: relative;
  z-index: 10;
  width: 100%;
	color: #f5f5f5;
	background-image: url("../../img/intro-image.jpg");
	background-repeat: no-repeat;
  background-size: cover;


	@include tablet {
		padding: 0;
		padding: 70px 80px;		
		line-height: 26px;	
	}

	@include desktop() {
		padding: 140px 100px;
	}

	&::before {
    content: "";
		position: absolute;
		inset: 0;
		z-index: -2;
		background-color: rgb(68, 68, 68, 0.8);
	}
}