.intro__wrapper {
  /* padding-left: 27px;
  padding-right: 27px; */
  position: relative;
 /*  background-color: #444444; */
  @include wrapper;
  padding: 0;
  
  @include tablet() {
    padding: 0;
  }
}



.content__video {
  margin: 0;
 
}

.intro__description-title {
  margin: 0;
	display: none;

  @include tablet {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    color: inherit;
    padding-bottom: 15px;
  }

  @include desktop() {
    font-size: 36px;
    line-height: 43px;
    padding-bottom: 24px;
  }
}

.intro__description-text {
  margin: 0;
	display: none;

  @include tablet {
    display: block;
    color: inherit;
    padding-bottom: 32px;
  }
}

.intro__button {
  width: 100%;

  @include tablet {
    width: 42%;
    margin-bottom: 0;
  }
}