.locations {
  @include wrapper;
  margin-bottom: 62px;
}

.locations__slider {
  margin-bottom: 24px;
  
  @include tablet () {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 28px;
  }  
}

.locations__slider-link {  

  &--none {
    display: none;
  }
}

.locations__slider-image {
  margin: 0 auto;
}

.locations__button {
  margin: 0;

  &--next {
    right: 0;
  }
}

.locations-swiper {
  margin-bottom: 24px;
}