.main-header {
  @include wrapper;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  margin-right: 60px;
}

.main-header__phone-button {
  display: none;
}

.main-header__phone-link {
  order: 1;
  margin-right: 24px;
  margin-left: auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.main-header__phone-img {
  margin-left: 20px;
}

.main-header__toggle {
  order: 2;
	padding: 0;
	border: none;
	background-color: #ffffff;
}