.main-nav {
  display: block;
  position: absolute;
  top: -100vw;
  left: 0;
  width: 100%;
  margin: 0;
  visibility: hidden;

  @include tablet() {
    visibility: visible;
    position: static;
  }
}

.main-nav__list {
  @include list-reset;
  display: flex;
}
