.main-footer__wrapper {  
  background-color: #F2F4F4;
  padding-top: 60px;

  @include wrapper;
}

.main-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 52px;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b1b1b1;
  margin-bottom: 40px;
}
