.slider__button {
	
  @include button-reset;
  width: 36px;
  height: 36px;
  padding-left: 10px;
  padding-top: 6px;
	background-color: #ffffff;
	border: none;
	border-radius: 50%;
	position: absolute;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15); 

	display: block;
  top: 50%;

	&--prev {
		/* transform: translateY(-50%); */
  
  }

	&--next {
    /* transform: translateY(-50%); */
    
    right: 16px;
    transform: rotate(180deg);
  }
}