.stages-work__wrapper {
	/* @include wrapper; */
	margin-bottom: 126px;
}

.stages-work__item {
	min-height: 174px;
	border: 2px solid #E97522;
	border-radius: 12px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-left: 27px;
	margin-right: 27px;
	padding: 26px 36px 0;
	position: relative;
	

	&::before {
		counter-increment: number;	
		content: counter(number);
		font-family: Arial;
		font-size: 30px;
		font-weight: 700;
		line-height: 34px;
		position: absolute;
		top: 136px;
		left: 132px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		color: #E97522;
		background-color: #f9f4ee;
		display: grid;
		place-items: center;
	}
}

.stages-work__description {
	margin: 0;
	text-align: center;
}