.stages-work__wrapper {
	@include wrapper;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stages-work__item {
	width: 320px;
	min-height: 174px;
	border: 2px solid #E97522;
	border-radius: 12px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-left: 27px;
	margin-right: 27px;
	padding: 26px 36px 36px;
	position: relative;

	@include tablet() {
		width: 328px;
	}
	

	&::before {
		counter-increment: number;	
		content: counter(number);
		font-family: Arial;
		font-size: 30px;
		font-weight: 700;
		line-height: 34px;
		position: absolute;
		/* top: 136px; */
		left: 50%;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		color: #E97522;
		background-color: #f9f4ee;
		display: grid;
		place-items: center;
		transform: translateX(-50%);
		bottom: -14px;

		@include tablet() {
			left: 0.5%;
		}
	}
}

.stages-work__item h3 {
	@include desktop {
		font-size: 18px;
		line-height: 22px;
	}
}

.stages-work__description {
	margin: 0;
	text-align: center;
}