.text-block__wrapper {
	@include wrapper;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 36px;

	@include tablet() {
		padding: 60px 80px 39px;
		margin-bottom: 100px;
	}

	&--first {
		background-color: #f2f4f4;
	}

	&--second {
		background-color: #f9f4ee;
	}
}

.text-block__wrapper h2 {
	margin-bottom: 24px;
}

.text-block__text p {
	margin: 0;
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #4a4a4a;

  @include tablet {
    font-size: 16px;
  }
}

.text-block__button {
	@include button-reset;
	justify-content: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	color: #e97522;

	@include tablet() {
		margin-left: auto;
	}

	&::after {
		content: "";
		background-image: url(../../img/arrow-down.svg);
		background-repeat: no-repeat;
		position: absolute;
		width: 25px;
		height: 14px;
		margin-top: 5px;
		margin-left: 10px;
	}
}

.text-block__text {
  max-height: 200px;
  overflow: hidden;
}
