.work {
  position: relative;
  overflow: hidden;

  @include wrapper;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
  margin-top: 60px;
  margin-bottom: 60px;

  @include tablet() {
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;
  }
}

.work h2 {
  @include tablet() {
    margin-bottom: 80px;
  }
}

.work__toggles {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.work__slider-link {
  img {
    width: 100%;
  }
}

.work__swiper {
  padding-top: 30px;
  padding-bottom: 30px;

  .swiper-wrapper .swiper-slide-next {
    @include tablet() {
      position: relative;
      z-index: 3;
      transform: scale(1.15);
      transition: transform 0.15s ease-in-out;
    }
  }
}

.work__button {
  z-index: 2;
}
