@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  border: 0;
  padding: 0;
  background: none;
}

@mixin tablet {
  @media (min-width: $md) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin wrapper {
  width: 100%;
  max-width: calc($md - 1px);
  /* margin: 0 auto; */
  padding-left: 16px;
  padding-right: 16px;

  @include tablet {
    max-width: calc($lg - 1px);
    padding-left: 20px;
    padding-right: 20px;
  }

  @include desktop {
    max-width: $lg;
    padding-left: 100px;
    padding-right: 100px;
  }
}
